<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/styles.css" />
    <!-- FontAwesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="header-top-bar">
        <a href="/" class="header-logo">
          <img
            class="header-logo-image"
            src="images/logo-mercado-liebre.svg"
            alt="Logo mercado liebre"
          />
        </a>
        <div class="header-buscador">
          <input
            type="text"
            class="header-buscador-input"
            placeholder="Buscar"
          />
          <button class="header-buscador-boton">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <p class="header-slogan">
          <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
          tarjeta de crédito
        </p>
      </div>
      <nav class="header-navegacion">
        <ul class="header-navegacion-lista flex-izquierda">
          <li>
            <a href="#">Ofertas</a>
          </li>
          <li>
            <a href="#">Tiendas oficiales</a>
          </li>
          <li>
            <a href="#">Vender</a>
          </li>
          <li>
            <a href="#">Ayuda</a>
          </li>
        </ul>
        <ul class="header-navegacion-lista flex-derecha">
          <li>
            <a href="/registro"
              >Creá tu cuenta <i class="fa-regular fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="/login"
              >Ingresá <i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a href="#"
              >Mis compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fa-solid fa-bars burger-menu-icon"></i>
      </div>
    </header>

    <img
      class="home-banner"
      src="images/img-home-banner.jpg"
      alt="banner ofertas navidad"
    />

    <main>
      <section>
        <h2 class="titular">Basado en tu ultima vista</h2>
        <div class="listado-productos">
          <article class="producto">
            <img
              class="producto-imagen"
              src="images/img-cafetera-moulinex.jpg"
              alt="Cafetera Moulinex"
            />
            <div class="producto-detalles">
              <i class="fa-solid fa-truck producto-detalles-delivery"></i>
              <p class="producto-detalles-precio">$6.770</p>
              <p class="producto-detalles-descuento">40% OFF</p>
              <h3 class="producto-detalles-descripcion">Cafetera Moulinex</h3>
            </div>
          </article>
          <article class="producto">
            <img
              class="producto-imagen"
              src="images/img-macbook-pro-2019.jpg"
              alt="MacBook Pro 2019"
            />
            <div class="producto-detalles">
              <i class="fa-solid fa-truck producto-detalles-delivery"></i>
              <p class="producto-detalles-precio">$230.000</p>
              <p class="producto-detalles-descuento">20% OFF</p>
              <h3 class="producto-detalles-descripcion">MacBook Pro 2019</h3>
            </div>
          </article>
          <article class="producto">
            <img
              class="producto-imagen"
              src="images/img-samsung-galaxy-s10.jpg"
              alt="Samsung Galaxy S10"
            />
            <div class="producto-detalles">
              <i class="fa-solid fa-truck producto-detalles-delivery"></i>
              <p class="producto-detalles-precio">$70.500</p>
              <p class="producto-detalles-descuento">10% OFF</p>
              <h3 class="producto-detalles-descripcion">Samsung Galaxy S10</h3>
            </div>
          </article>
          <article class="producto">
            <img
              class="producto-imagen"
              src="images/img-tv-samsung-smart.jpg"
              alt="Samsung SmartTV"
            />
            <div class="producto-detalles">
              <i class="fa-solid fa-truck producto-detalles-delivery"></i>
              <p class="producto-detalles-precio">$23.200</p>
              <p class="producto-detalles-descuento">5% OFF</p>
              <h3 class="producto-detalles-descripcion">SmartTv Samsung 43"</h3>
            </div>
          </article>
        </div>
      </section>
      <section>
        <h2 class="titular">Ofertas</h2>
        <div class="listado-productos">
          <article class="producto">
            <img
              class="producto-imagen"
              src="images/img-cafetera-moulinex.jpg"
              alt="Cafetera Moulinex"
            />
            <div class="producto-detalles">
              <i class="fa-solid fa-truck producto-detalles-delivery"></i>
              <p class="producto-detalles-precio">$6.770</p>
              <p class="producto-detalles-descuento">40% OFF</p>
              <h3 class="producto-detalles-descripcion">Cafetera Moulinex</h3>
            </div>
          </article>
          <article class="producto">
            <img
              class="producto-imagen"
              src="images/img-macbook-pro-2019.jpg"
              alt="MacBook Pro 2019"
            />
            <div class="producto-detalles">
              <i class="fa-solid fa-truck producto-detalles-delivery"></i>
              <p class="producto-detalles-precio">$230.000</p>
              <p class="producto-detalles-descuento">20% OFF</p>
              <h3 class="producto-detalles-descripcion">MacBook Pro 2019</h3>
            </div>
          </article>
          <article class="producto">
            <img
              class="producto-imagen"
              src="images/img-samsung-galaxy-s10.jpg"
              alt="Samsung Galaxy S10"
            />
            <div class="producto-detalles">
              <i class="fa-solid fa-truck producto-detalles-delivery"></i>
              <p class="producto-detalles-precio">$70.500</p>
              <p class="producto-detalles-descuento">10% OFF</p>
              <h3 class="producto-detalles-descripcion">Samsung Galaxy S10</h3>
            </div>
          </article>
          <article class="producto">
            <img
              class="producto-imagen"
              src="images/img-tv-samsung-smart.jpg"
              alt="Samsung SmartTV"
            />
            <div class="producto-detalles">
              <i class="fa-solid fa-truck producto-detalles-delivery"></i>
              <p class="producto-detalles-precio">$23.200</p>
              <p class="producto-detalles-descuento">5% OFF</p>
              <h3 class="producto-detalles-descripcion">SmartTv Samsung 43"</h3>
            </div>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-listado-articulos">
        <article>
          <i class="fa-solid fa-credit-card footer-articulo-icono"></i>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p class="footer-articulo-parrafo">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>
        <article>
          <i class="fa-solid fa-gift footer-articulo-icono"></i>
          <h3>Envío gratis desde $ 2.500</h3>
          <p class="footer-articulo-parrafo">
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </article>
        <article>
          <i class="fa-solid fa-user-shield footer-articulo-icono"></i>
          <h3>Seguridad, de principio a fin</h3>
          <p class="footer-articulo-parrafo">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </article>
      </div>
      <p class="footer-copyright">
        Copyright © 1999-2023 MercadoLiebre S.R.L.
        <br />
        Developed with ♥ by Ivan Alvarez - Digital House
      </p>
    </footer>
  </body>
</html>
