/*

#======= Variables ========#

*/

:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
}

/*

#======= General Styles ========#

*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--gris-claro);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 12px;
}

.icono-grande {
  font-size: 2em;
}

/*

#======= Header ========#

*/

header {
  background-color: var(--amarillo);
  padding: 1.5rem;
}

.header-top-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.header-logo {
  width: 48%;
}

.header-logo-image {
  max-width: 300px;
}

.header-buscador {
  width: 48%;
  display: flex;
}

.header-buscador-input {
  width: 90%;
  min-height: 2rem;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0 0.5rem;
}

.header-buscador-input:focus {
  outline: none;
}

.header-buscador-boton {
  background-color: white;
  width: 10%;
  height: 2rem;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  padding-right: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.header-buscador-boton:hover {
  color: var(--gris-oscuro);
}

.header-buscador-boton:focus {
  outline: none;
}

.header-slogan {
  width: 100%;
  text-align: center;
  margin-top: 0.7rem;
}

.header-navegacion {
  display: none;
  margin-top: 1rem;
}

.header-navegacion-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.flex-izquierda {
  justify-content: flex-start;
}

.flex-derecha {
  justify-content: flex-end;
}

.burger-menu {
  text-align: center;
  margin-top: 1rem;
}

.burger-menu-icon {
  background-color: var(--celeste);
  color: white;
  padding: 13px;
  border-radius: 0.5rem;
}

@media (min-width: 361px) {
  .header-logo {
    width: 30%;
  }

  .header-buscador {
    width: 30%;
  }

  .header-slogan {
    width: 30%;
    text-align: right;
    margin-top: 0;
  }

  .header-buscador-boton {
    padding-right: 1rem;
  }

  .header-navegacion {
    display: flex;
    justify-content: space-between;
  }

  .burger-menu {
    display: none;
  }
}

@media (min-width: 769px) {
  .header-slogan {
    font-size: 16px;
  }
}

/*

#======= Main Content ========#

*/

.home-banner {
  width: 100%;
}

main {
  color: var(--gris-oscuro);
  width: 90%;
  min-height: 60vh;
  margin-inline: auto;
}

.titular {
  font-size: 24px;
  margin: 1rem 0;
  text-align: center;
}

@media (min-width: 361px) {
  .titular {
    text-align: unset;
  }
}

/*

#======= Productos ========#

*/

.listado-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.producto {
  width: 100%;
  background-color: white;
  transition: 0.2s ease-in-out;
}

.producto:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  scale: 1.02;
}

.producto-imagen {
  width: 100%;
}

.producto-detalles {
  padding: 15px;
  border-top: var(--gris-claro) 1px solid;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: space-around;
  align-items: center;
}

.producto-detalles-delivery {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--verde);
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  color: var(--verde);
  transition: all 0.2s ease-in-out;
}

.producto:hover .producto-detalles-delivery {
  rotate: -90deg;
}

.producto-detalles-precio {
  font-size: 18px;
  width: 50%;
  color: black;
}

.producto-detalles-descuento {
  font-size: 16px;
  width: 40%;
  text-align: end;
  color: var(--verde);
}

.producto-detalles-descripcion {
  opacity: 0;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  transition: 0.1s ease-in-out;
}

.producto:hover .producto-detalles-descripcion {
  opacity: 1;
}

@media (min-width: 361px) {
  .producto {
    width: 48%;
  }
}

@media (min-width: 769px) {
  .listado-productos {
    gap: 1.5rem;
  }
  .producto {
    width: 22%;
  }
}

/*

#======= Footer ========#

*/

footer {
  margin-top: 1.5rem;
  background-color: white;
  padding: 20px;
  text-align: center;
  color: var(--gris-oscuro);
}

.footer-listado-articulos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem;
}

.footer-articulo-icono {
  font-size: 2em;
  color: var(--celeste);
  margin-bottom: 10px;
  transition: 0.2s ease-in-out;
}

.footer-articulo-icono:hover {
  color: var(--azul);
}

.footer-copyright {
  text-align: left;
}

@media (min-width: 769px) {
  .footer-listado-articulos {
    flex-direction: row;
    justify-content: space-around;
  }
}

/*

#======= Formularios ========#

*/

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
  padding: 2rem;
}

.formulario-input {
  padding: 0.4rem 0.6rem;
  font-size: 16px;
  border-radius: 7px;
  border: none;
  transition: all 0.1s ease-in-out;
}

.formulario-input:focus {
  outline: 1px solid var(--celeste);
  box-shadow: 0px 0px 4px rgb(100, 100, 100);
}

.radio-group {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.radio-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.checkbox-group {
  display: flex;
  gap: 0.8rem;
}

.button-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.formulario-boton {
  padding: 0.6rem;
  font-size: 16px;
  border-radius: 7px;
  border: none;
  background-color: var(--celeste);
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

.formulario-boton--enviar:hover {
  background-color: #0022aa;
}

.formulario-boton--cancelar {
  background-color: var(--gris-oscuro);
}

.formulario-boton--cancelar:hover {
  background-color: #444;
}
